In [3]:
import pandas as pd

In [4]:
health_data = pd.read_csv('health_data.csv')

In [5]:
health_data

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
0,30,80,120,240,10,7
1,45,85,120,250,10,7
2,45,90,130,260,8,7
3,60,95,130,270,8,7
4,60,100,140,280,0,7
5,60,105,140,290,7,8
6,60,110,145,300,7,8
7,45,115,145,310,8,8
8,60,120,150,320,0,8
9,45,125,150,330,8,8

matplotlib to visualize data

In [7]:
import sys
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [8]:
health_data.columns

Index(['Duration', 'Average_Pulse', 'Max_Pulse', 'Calorie_Burnage',
       'Hours_Work', 'Hours_Sleep'],
      dtype='object')

This is a series. Series is typically a single column extracted from a dataframe.

In [10]:
health_data['Hours_Sleep']

0    7
1    7
2    7
3    7
4    7
5    8
6    8
7    8
8    8
9    8
Name: Hours_Sleep, dtype: int64

In [11]:
health_data.Hours_Sleep

0    7
1    7
2    7
3    7
4    7
5    8
6    8
7    8
8    8
9    8
Name: Hours_Sleep, dtype: int64

In [12]:
health_data_features = ['Duration', 'Average_Pulse', 'Max_Pulse',]
X = health_data[health_data_features]

In [13]:
X

   Duration  Average_Pulse  Max_Pulse
0        30             80        120
1        45             85        120
2        45             90        130
3        60             95        130
4        60            100        140
5        60            105        140
6        60            110        145
7        45            115        145
8        60            120        150
9        45            125        150

In [14]:
X.head()

   Duration  Average_Pulse  Max_Pulse
0        30             80        120
1        45             85        120
2        45             90        130
3        60             95        130
4        60            100        140

In [15]:
X.describe()

        Duration  Average_Pulse   Max_Pulse
count  10.000000      10.000000   10.000000
mean   51.000000     102.500000  137.000000
std    10.488088      15.138252   11.352924
min    30.000000      80.000000  120.000000
25%    45.000000      91.250000  130.000000
50%    52.500000     102.500000  140.000000
75%    60.000000     113.750000  145.000000
max    60.000000     125.000000  150.000000